{%- comment -%}
  This is the Just the Docs 0.12 site navigation, filtered by page locale.
{%- endcomment -%}

{% assign nav_locale = include.locale | default: "en" %}
{% assign locale_pages = site.html_pages | where: "_locale", nav_locale %}

<nav aria-label="Main" id="site-nav" class="site-nav">
  {% assign pages_top_size = locale_pages
        | where_exp: "item", "item.title != nil"
        | where_exp: "item", "item.parent == nil"
        | where_exp: "item", "item.nav_exclude != true"
        | size %}
  {% if pages_top_size > 0 %}
    {% include components/nav/pages.html pages=locale_pages all=include.all %}
  {% endif %}
  {%- if site.nav_external_links -%}
    <ul class="nav-list">
      {%- for node in site.nav_external_links -%}
        <li class="nav-list-item external">
          <a href="{{ node.url | absolute_url }}" class="nav-list-link external"
            {% if node.opens_in_new_tab or node.opens_in_new_tab == nil and site.nav_external_links_new_tab %}
              target="_blank" rel="noopener noreferrer"
            {% endif %}
          >
            {{ node.title }}
            {% unless node.hide_icon %}<svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title"><use xlink:href="#svg-external-link"></use></svg>{% endunless %}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</nav>

{% if site.nav_error_report %}
{{ nav_error_report }}
{%- endif %}
