
/* Ket words */
.highlight .k {
  color: blue;
}

/* ABAP code */
.highlight .n {
  color: black;
}

/* Comments */
.highlight .c1 {
  color: gray;
  font-style: italic
}

/* Strings */
.highlight .s1 {
  color: #4DA619;
}

/* Numbers */
.highlight .mi {
  color: #3399ff;
}

/* Equal signs */
.highlight .o {
  color: #800080;
}